@import url("agogo.css");
@import url("http://fonts.googleapis.com/css?family=Crimson+Text");
@import url("http://fonts.googleapis.com/css?family=Droid+Sans");

div.document ul {
  margin-left: 1.5em;
  margin-top: 0.0em;
  margin-bottom: 1.0em;
}

div.document li.toctree-l1 {
  margin-bottom: 0.5em;
}

table.contentstable {
  width: 100%;
}

table.contentstable td {
  padding: 5px 15px 0px 15px;
}

table.contentstable tr {
  border-bottom: 1px solid black;
}

a.biglink {
  line-height: 1.2em;
}

a tt.xref {
  font-weight: bolder;
}

table.docutils {
  width: 100%;
}

table.docutils td {
  width: 50%;
}
