version: 2
updates:
- package-ecosystem: github-actions
  directory: /.github/workflows
  labels:
    - dependencies
    - github_actions
    - infrastructure
  schedule:
    interval: monthly
  cooldown:
    default-days: 7
  groups:
     gha-patches:
      update-types:
      - patch

- package-ecosystem: uv
  directory: /
  labels:
    - dependencies
    - python:uv
    - infrastructure
  schedule:
    interval: monthly
  cooldown:
    default-days: 7
  groups:
    uv.lock-patches:
      update-types:
      - patch
