[run]
plugins = Cython.Coverage

[report]
omit=*/api.py
	 */__init__.py
	 */__config__.py
	 yt/analysis_modules/*
	 yt/extern/*
	 yt/mods.py
	 yt/utilities/fits_image.py
	 yt/utilities/lodgeit.py
	 yt/utilities/lru_cache.py
	 yt/utilities/poster/*
	 yt/visualization/_mpl_imports.py
