language: python
dist: xenial
sudo: required
dist: xenial
cache:
  pip: true
  directories:
    - $HOME/.ccache  # https://github.com/travis-ci/travis-ci/issues/5853

addons:
  apt:
    packages:
      - libhdf5-serial-dev
      - libopenmpi-dev
      - libnetcdf-dev

env:
  global:
    PIP=pip

before_install:
  - |
    if [[ $TRAVIS_OS_NAME != 'osx' ]]; then
      $PIP install --upgrade virtualenv
      python -m virtualenv venv
      source venv/bin/activate
      export PATH=/usr/lib/ccache:$PATH
    else
      sudo mkdir -p /usr/local/man
      sudo chown -R "${USER}:admin" /usr/local/man
      brew update
      brew uninstall numpy
      brew install python ccache hdf5 openmpi netcdf
      brew uninstall gdal postgis numpy
      export PATH=/usr/local/opt/ccache/libexec:$PATH
    fi
    mkdir -p $HOME/.config/yt
    echo "[yt]" > $HOME/.config/yt/ytrc
    echo "suppressStreamLogging = True" >> $HOME/.config/yt/ytrc
    cat $HOME/.config/yt/ytrc
    cp tests/matplotlibrc .

install:
  - |
    # setup environment
    ccache -s
    # Upgrade pip and setuptools and wheel to get clean install
    $PIP install --upgrade pip
    $PIP install --upgrade wheel
    $PIP install --upgrade setuptools
    # install dependencies yt
    if [[ $TRAVIS_BUILD_STAGE_NAME != "Lint" ]]; then
      if [[ $MINIMAL == 1 ]]; then
        # HACK: install numpy and cython so cykdtree builds
        $PIP install numpy==1.10.4 cython==0.24
        $PIP install -r tests/test_minimal_requirements.txt
      else
        # HACK: install numpy and cython so cykdtree builds
        $PIP install numpy==1.15.3 cython==0.29
        $PIP install -r tests/test_requirements.txt
      fi
      $PIP install -e .
    else
      $PIP install -r tests/lint_requirements.txt
    fi

jobs:
  include:
    - stage: lint
      python: 3.6
      script: flake8 yt/

    - stage: lint
      python: 2.7
      script: flake8 yt/

    - stage: tests
      name: "Minimal Dependency Version Unit Tests"
      python: 3.5
      env: MINIMAL=1
      script: coverage run $(which nosetests) -c nose_unit.cfg

    - stage: tests
      name: "Python: 3.5 Unit Tests"
      python: 3.5
      script: coverage run $(which nosetests) -c nose_unit.cfg

    - stage: tests
      name: "Python: 3.6 Unit Tests"
      python: 3.6
      script: coverage run $(which nosetests) -c nose_unit.cfg

    - stage: tests
      name: "Python: 3.7 Unit Tests"
      python: 3.7
      script: coverage run $(which nosetests) -c nose_unit.cfg
      
      name: "Minimal Dependency Version Answer Tests"
      python: 3.5
      env: MINIMAL=1
      script: coverage run $(which nosetests) -c nose_answer.cfg
      after_failure: python tests/report_failed_answers.py -f -m --xunit-file "answer_nosetests.xml"

    - stage: tests
      name: "Python: 3.7 Answer Tests"
      python: 3.7
      script: coverage run $(which nosetests) -c nose_answer.cfg
      after_failure: python tests/report_failed_answers.py -f -m --xunit-file "answer_nosetests.xml"

    - stage: tests
      name: "MacOS: Unit Tests"
      os: osx
      osx_image: xcode10.1
      language: generic  # https://github.com/travis-ci/travis-ci/issues/2312
      env: PIP=pip3
      cache:
        pip: false
        directories:
          - $HOME/Library/Caches/pip
          # `cache` does not support `env`-like `global` so copy-paste from top
          - $HOME/.ccache  # https://github.com/travis-ci/travis-ci/issues/5853
      script: nosetests -c nose_unit.cfg

after_success:
  - |
    if [[ $TRAVIS_BUILD_STAGE_NAME != "Lint" ]]; then
      codecov
    fi
