# AppVeyor.com is a Continuous Integration service to build and run tests under
# Windows

environment:

  global:
      PYTHON: "C:\\Miniconda36-x64"

  matrix:
      - PYTHON_VERSION: "3.6"
      - PYTHON_VERSION: "3.8"

platform:
    -x64

install:
    - "if not exist \"%userprofile%\\.config\\yt\" mkdir %userprofile%\\.config\\yt"
    - "echo [yt] > %userprofile%\\.config\\yt\\ytrc"
    - "echo suppressStreamLogging = True >> %userprofile%\\.config\\yt\\ytrc"
    - "SET PATH=%PYTHON%;%PYTHON%\\Scripts;%PATH%"
    - "copy tests\\matplotlibrc ."

    # Install the build and runtime dependencies of the project.
    # Create a conda environment
    - "conda update -q --yes conda"
    - "conda create -q --yes -n test python=%PYTHON_VERSION%"
    - "activate test"

    # Check that we have the expected version of Python
    - "python --version"

    # Install specified version of numpy and dependencies
    - "conda install --yes -c conda-forge numpy scipy nose pytest setuptools ipython
    Cython sympy fastcache h5py matplotlib=3.1.3 mock pandas cartopy conda-build unyt pooch pyyaml"
    # install yt
    - "pip install -e ."

# Not a .NET project
build: false

test_script:
    - "nosetests --nologcapture -sv --traverse-namespace yt"

# Enable this to be able to login to the build worker. You can use the
# `remmina` program in Ubuntu, use the login information that the line below
# prints into the log.
#on_finish:
#- ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
