[build-system]
requires = [
  "setuptools>=59.0.1",
  # see https://github.com/numpy/numpy/pull/18389
  "wheel>=0.36.2",

  # Cython 3.0 is the next version after 0.29, and a major change,
  # we forbid it until we can properly test against it
  "Cython>=0.29.21,<3.0",
  "oldest-supported-numpy",
]

[tool.black]
line-length = 88
target-version = ['py37']
include = '\.pyi?$'
exclude = '''
/(
    \.eggs
  | \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | buck-out
  | build
  | dist
  | yt/frontends/stream/sample_data
)/
| yt/visualization/_colormap_data.py
'''


[tool.isort]
profile = "black"
combine_as_imports = true
skip =  ["venv", "benchmarks"]
known_third_party = [
  "IPython",
  "nose",
  "numpy",
  "sympy",
  "matplotlib",
  "unyt",
  "git",
  "yaml",
  "dateutil",
  "requests",
  "coverage",
  "pytest",
  "pyx",
  "glue",
]
known_first_party = ["yt"]
sections = ["FUTURE", "STDLIB", "THIRDPARTY", "FIRSTPARTY", "LOCALFOLDER"]

# The -s option prevents pytest from capturing output sent to stdout
# -v runs pytest in verbose mode
# -rsfE: The -r tells pytest to provide extra test summary info on the events
# specified by the characters following the r. s: skipped, f: failed, E: error
[tool.pytest.ini_options]
addopts = '''
    -s
    -v
    -rsfE
    --ignore-glob='*_nose.py'
    --ignore='yt/frontends/owls_subfind/tests/test_outputs.py'
    --ignore='yt/frontends/ramses/tests/test_outputs.py'
    --ignore='yt/frontends/cholla/tests/test_outputs.py'
    --ignore='yt/utilities/lib/cykdtree/tests/test_kdtree.py'
    --ignore='yt/utilities/lib/cykdtree/tests/test_utils.py'
'''


[tool.check-manifest]
# ignore generated C/C++ files, otherwise reported as "missing from VCS" (Version Control System)
# Please resist the temptation to use patterns instead of exact file names here.
ignore = [
  "yt/frontends/artio/_artio_caller.c",
  "yt/frontends/gamer/cfields.c",
  "yt/frontends/ramses/io_utils.c",
  "yt/geometry/fake_octree.c",
  "yt/geometry/grid_container.c",
  "yt/geometry/grid_visitors.c",
  "yt/geometry/oct_container.c",
  "yt/geometry/oct_visitors.c",
  "yt/geometry/particle_deposit.c",
  "yt/geometry/particle_oct_container.cpp",
  "yt/geometry/particle_smooth.c",
  "yt/geometry/selection_routines.c",
  "yt/utilities/cython_fortran_utils.c",
  "yt/utilities/lib/_octree_raytracing.cpp",
  "yt/utilities/lib/allocation_container.c",
  "yt/utilities/lib/alt_ray_tracers.c",
  "yt/utilities/lib/amr_kdtools.c",
  "yt/utilities/lib/autogenerated_element_samplers.c",
  "yt/utilities/lib/basic_octree.c",
  "yt/utilities/lib/bitarray.c",
  "yt/utilities/lib/bounded_priority_queue.c",
  "yt/utilities/lib/bounding_volume_hierarchy.cpp",
  "yt/utilities/lib/contour_finding.c",
  "yt/utilities/lib/cosmology_time.c",
  "yt/utilities/lib/cykdtree/kdtree.cpp",
  "yt/utilities/lib/cykdtree/utils.cpp",
  "yt/utilities/lib/cyoctree.c",
  "yt/utilities/lib/cyoctree.cpp",
  "yt/utilities/lib/depth_first_octree.c",
  "yt/utilities/lib/distance_queue.c",
  "yt/utilities/lib/element_mappings.c",
  "yt/utilities/lib/ewah_bool_wrap.cpp",
  "yt/utilities/lib/fnv_hash.c",
  "yt/utilities/lib/fortran_reader.c",
  "yt/utilities/lib/geometry_utils.cpp",
  "yt/utilities/lib/grid_traversal.cpp",
  "yt/utilities/lib/image_samplers.cpp",
  "yt/utilities/lib/image_utilities.c",
  "yt/utilities/lib/interpolators.c",
  "yt/utilities/lib/lenses.c",
  "yt/utilities/lib/line_integral_convolution.c",
  "yt/utilities/lib/marching_cubes.cpp",
  "yt/utilities/lib/mesh_triangulation.c",
  "yt/utilities/lib/mesh_utilities.c",
  "yt/utilities/lib/misc_utilities.cpp",
  "yt/utilities/lib/origami.c",
  "yt/utilities/lib/particle_kdtree_tools.cpp",
  "yt/utilities/lib/particle_mesh_operations.c",
  "yt/utilities/lib/partitioned_grid.cpp",
  "yt/utilities/lib/pixelization_routines.cpp",
  "yt/utilities/lib/points_in_volume.c",
  "yt/utilities/lib/primitives.c",
  "yt/utilities/lib/quad_tree.c",
  "yt/utilities/lib/ragged_arrays.c",
  "yt/utilities/lib/write_array.c",
]


[tool.mypy]
python_version = 3.7
show_error_codes = true
ignore_missing_imports = true
warn_unused_configs = true
warn_unused_ignores = true
warn_unreachable = true
show_error_context = true
exclude = "(test_*|lodgeit)"
