flake8==3.8.1  # keep in sync with .pre-commit-config.yaml
mccabe==0.6.1
pycodestyle==2.6.0
pyflakes==2.2.0
isort==5.2.1   # keep in sync with .pre-commit-config.yaml
black==19.10b0
flake8-bugbear
-e git+https://github.com/ikamensh/flynt.git@master#egg=flynt
