/*
 * Quick mash-up of CSS for the TG quick start page.
 */

html, body, th, td {
  color: black;
  background-color: #f7f7f7;
  font: x-small "Lucida Grande", "Lucida Sans Unicode", geneva, verdana, sans-serif;
  margin: 0;
  padding: 0;
}

#tophalf{
  height: 75px;
  width: 100%;
  border-bottom: 1px solid #999;
  background-color: #fff;
}

/*#bottom-half{
  width: 100%;
}*/

#header {
  height: 75px;
  width: 600px;
  position: relative;
  float: left;
  background: white URL('../images/deliverator_logo.png') no-repeat;
  /*border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;*/
  margin: 0 auto 0 auto;
}

a.link, a, a.active {
  color: #369;
}

#main_content {
  position: relative;
  float: left;
  color: black;
  font-size: 127%;
  background-color: #f7f7f7;
  width: 757px;
  margin: 0 auto 0 auto;
  border-left: 1px solid #999;
  /*border-right: 1px solid #aaa;*/
  padding: 10px;
  min-height: 400px;
}

/* This is a good place for a logo */
#sidebarpadder {
  border: 0px;
  background-color: #fff;
  margin: 0.5em;
  padding: 1em;
  position: relative;
  float: left;
  width: 140px;
  font-size: 88%;
}

#sitesidebar {
  /*border: 1px solid #aaa;*/
  background-color: #f7f7f7;
  position: relative;
  float: left;
  width: 140px;
  font-size: 100%;
}

#sidebar {
  border: 1px solid #aaa;
  background-color: #eee;
  margin: 0.5em;
  padding: 1em;
  position: relative;
  float: right;
  width: 100px;
  font-size: 88%;
}

#sidebar h2 {
  margin-top: 0;
}

#sitesidebar h2 {
  padding-left: 10px;
}

#sitesidebar ul {
  margin-left: 1.5em;
  padding-left: 10px;
  font-size: 125%;
}

#sidebar ul {
  margin-left: 1.5em;
  padding-left: 0;
}

h1,h2,h3,h4,h5,h6,#getting_started_steps {
  font-family: "Century Schoolbook L", Georgia, serif;
  font-weight: bold;
}

h2 {
  font-size: 150%;
}

#getting_started_steps a {
  text-decoration: none;
}

#getting_started_steps a:hover {
  text-decoration: underline;
}

#getting_started_steps li {
  font-size: 100%;
  margin-bottom: 0.5em;
}

#getting_started_steps h2 {
  font-size: 120%;
}

#getting_started_steps p {
  font: 100% "Lucida Grande", "Lucida Sans Unicode", geneva, verdana, sans-serif;
}

#about {
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  /*border-top: 0px none;*/
  color: #999;
  background-color: white;
  padding: 0px;
  margin-top: 1.5in;
  font-size: 80%;
  text-align: center;
  width: 100%;
  /*margin: 0.5em auto 0.5em auto;*/
}

.code {
  font-family: monospace;
}

span.code {
  font-weight: bold;
  background: #eee;
}

#status_block {
  margin: 0.5em auto 0.5em auto;
  padding: 15px 10px 15px 15px;
  background: #cce;
  border: 1px solid #9c9;
  width: 100%;
  font-size: 120%;
  font-weight: bolder;
  clear: right;
  text-align: left;
  /*left: 5px;
  top: 5px;*/
}

.notice {
  margin: 0.5em auto 0.5em auto;
  padding: 15px 10px 15px 55px;
  width: 100%;
  background: #fee;
  border: 1px solid #9c9;
}

#imagecaption {
  border: 1px solid #999;
}
