name: check MANIFEST.in
on:
  pull_request:
    branches:
      - stable
      - 'yt-*'

jobs:
  check-manifest:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Source
      uses: actions/checkout@v2
    - name: Setup Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: install check-manifest
      run: |
        python -m pip install --upgrade pip
        python -m pip install check-manifest
    - name: Install yt
      shell: bash
      run: |
        python -m pip install Cython numpy wheel
        python -m pip install --no-build-isolation .
    - name: Init submodules
      uses: snickerbockers/submodules-init@v4
    - name: run check-manifest
      run: check-manifest -vvv
