name: type checking

on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - yt/**/*.py
      - pyproject.toml
      - .github/workflows/type-checking.yaml
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    name: type check
    timeout-minutes: 60

    concurrency:
      # auto-cancel any in-progress job *on the same branch*
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true

    steps:
    - name: Checkout repo
      uses: actions/checkout@v5

    - name: Set up Python
      uses: astral-sh/setup-uv@v7
      with:
        # run with oldest supported python version
        # so that we always get compatible versions of
        # core dependencies at type-check time
        python-version: '3.10'
        prune-cache: false
        cache-suffix: typecheck

    - name: Build
      run: uv sync --group typecheck

    - name: Run mypy
      run: uv run --no-sync mypy yt
