name: type checking

on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - yt/**/*.py
      - setup.cfg
      - .github/workflows/type-checking.yaml

jobs:
  build:
    runs-on: ubuntu-latest
    name: type check
    timeout-minutes: 60

    concurrency:
      # auto-cancel any in-progress job *on the same branch*
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        # run with oldest support python version
        # so that we always get compatible versions of
        # core dependencies at type-check time
        python-version: '3.8'

    - name: Build
      run: |
        python3 -m pip install --upgrade pip
        python3 -m pip install -e .[typecheck]

    - name: Run mypy
      run: mypy yt
